*.nds
*.sav
build
graphics
nitrofs
compile_commands.json
tools/__pycache__/*

assets/archive/

assets/東方靈異.伝
assets/*.GRP
assets/*.grp
assets/*.HDI
assets/*.hdi

assets/*.MDT
assets/*.DAT
assets/*.MDE
assets/*.COM
assets/*.CFG
assets/*.EXE
assets/*.SYS
assets/*.GRF
assets/*.BAT
assets/*.GRZ
